.chat-container {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 320px;
  height: 465px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #b89b5e;
  padding: 1px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px;
  z-index: 1000;
}

.chat-header {
  flex: 0 1 25px;
  min-height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.chat-content {
  flex: 1 1 auto;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  padding-bottom: 5px;
}

.chat-no-messages-content {
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.chat-input {
  flex: 0 1 40px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.chat-title {
  display: block;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
}

.chat-close {
  width: 10px;
  height: 10px;
}

.chat-close-line {
  stroke: #ffffff;
  stroke-width: 1;
}

.chat-input-field {
  flex: 1 1 auto;
  height: 25px;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt;
}

.chat-input-field:hover {
  border: none;
}

.chat-input-send {
  flex: 0 1 25px;
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
}

.chat-input-send-line {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1;
}

.chat-message {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  padding: 15px 15px 5px 15px;
  margin: 5px;
  width: 66.66%;
  border-radius: calc(1.15rem - 1px);
}

.chat-message p {
  margin: 0;
  font-size: 0.85rem;
}

.chat-my-message {
  align-self: flex-end;
  background-color: #dbf4fd;
}

.chat-consultant-message {
  align-self: flex-start;
  background-color: #ffffff;
}

p.chat-message-time {
  float: right;
  font-size: 0.6rem;
}

.chat-no-messages {
  width: 66%;
  text-align: center;
}

.chat-loader {
  color: #b99b5e;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: chat-load6 1.7s infinite ease,
    chat-round 1.7s infinite ease;
  animation: chat-load6 1.7s infinite ease, chat-round 1.7s infinite ease;
}
@-webkit-keyframes chat-load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes chat-load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes chat-round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes chat-round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.str-chat__channel-list {
  width: 30%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}
.str-chat__channel-header {
  display: none !important;
}
